 .navbar a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
nav.navbar button.navbar-toggler, nav.navbar button.navbar-toggler:focus{
    box-shadow: none;
}
.no-wrap{
    white-space: nowrap;
}